<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="redis" type="NHibernate.Caches.Redis.RedisSectionHandler, NHibernate.Caches.Redis"/>
  </configSections>
  <redis>
    <redis host="localhost" port="6379" maxReadPoolSize="5" maxWritePoolSize="5"/>
  </redis>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
